<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="display-4 text-center">{{title}}</h1>
      <p class="lead text-center">{{title}} - Your One-Stop Information Hub</p>
      <hr>
      <div class="text-center">
        <img src="/images/govind.jpeg" class="img-fluid rounded-circle mb-4" alt="Profile Picture">
      </div>
      <!-- About Content -->
      <p>
        I am a computer programming student at Gerogian College and am very passionate about Web Development.
        Feel free to have a discussion on any IT Talks and do check out my social media handles.
      </p>
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Skills</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">HTML, CSS, JavaScript</li>
            <li class="list-group-item">MEAN stack</li>
            <li class="list-group-item">ASP.NET</li>
          </ul>
        </div>
      </div>
      <!-- Additional Information or Sections can be added here -->
    </div>
  </div>
</div>