<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to My Portfolio</h1>
    <p class="lead">This is the Home page.</p>
    <hr class="my-4">
    <p>Explore my projects and learn more about me.</p>
    <a class="btn btn-primary btn-lg" href="/projects" role="button">View Projects</a>
  </div>
</div>